<!DOCTYPE html>
<html>
<head>
    <title>Lista de Livros</title>
    <!-- Inclui CSS do Bootstrap -->
    <!-- Inclui CSS do Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Inclui JS do Bootstrap e Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-3">
    <h1>Lista de Livros</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Título</th>
                <th>Autor</th>
            </tr>
        </thead>
        <tbody>
            {% for livro in livros %}
            <tr>
                <td>{{ livro.titulo }}</td>
                <td>{{ livro.autor }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'adicionar_livro' %}" class="btn btn-primary">Adicionar novo livro</a>
</div>
</body>
</html>
